
body{
    background-color: #212836;
    color: white;
    margin: 250px 100px;
    font-size: larger;
    font-family: "Inter", sans-serif;
}

span{
    color: #2EB872;
}

h2{
    color: grey;
    font-size: large;
}

label{
    display: block;
    margin-top: 20px;
    color: grey;
}

#password-length{
    width: 60px;
    padding: 8px;
    margin: 8px 0 0 0;
    border-radius: 5px;
    border: 1px solid #2B3A4B;
    background-color: #2B3A4B;
    color: white;
    font-size: medium;
}

.btn-el{
    color: white;
    background-color: #2EB872;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 38px;
    margin: 20px 0px 0px 0px;
    font-size: medium;
}

.btn-el:hover{
    border: 2px solid black;
}

.line-el{
    border-top: 2px solid #2B3A4B ;
    margin-top: 50px;
}


.password-el{
    display: flex;
    gap: 40px;
    margin: 50px 0px;
}

.password-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: #2EB872;
    background-color: #2B3A4B;
    border-radius: 5px;
    box-sizing: border-box;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}